.container{
    border: 1px solid black;
    text-align: center;
    margin-top: 30px;
}


.content{
    border: 1px solid black;
    margin: 10ox;
}

.img-thumbnail{
    padding: 40px;
}

#col{
    text-align: left;
    padding-top: 20px;
}

.name-content{
    padding-bottom: 10px;
    padding-top: 10px;
}

.email-content{
    padding-bottom: 10px;
    padding-top: 10px;
}

.phone-content{
    padding-bottom: 10px;
    padding-top: 10px;
}


.seats-content{
    padding-bottom: 10px;
    padding-top: 10px;
}

.attendees-content{
    padding-bottom: 10px;
    padding-top: 10px;
}

.button-content{
    padding-bottom: 10px;
    padding-top: 10px;
}

.submit{
    background-color: palegreen;
    margin-left: 20px;
    margin-right: 70px;
}

.submit:hover{
    background-color: green;
}

.cancel{
    background-color: palevioletred;
    margin-left: 20px;
    margin-right: 70px;
}

.cancel:hover{
    background-color: red;
}
